$text-primary: #5FC0F4;
$enable-gradients: true;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

h2 {
    font-size: x-large;
    font-weight: 350;
}

p {
    color: white;
    font-size: large;
    margin-bottom: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 63px;
    width: 100%;
    background-color: #171A21;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-screen {
    position: fixed;
    top: 63px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #1B2838;
    flex-direction: column;
    overflow-y: auto;

    &__container {
        justify-content: center;
        align-items: center;
        top: 10%;
        padding: 0;
        margin: 0;

        position: relative;
        width: inherit;
        height: inherit;
    }

    &__botones {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        position: relative;
    }

    &__descripcion {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 10% 20% 0 20%;

        position: relative;
    }

    &__buscador {
        justify-content: center;
        align-items: center;
        padding: inherit;
        margin: inherit;

        position: relative;
    }
}

.btn {
    background-color: #214168;
    border-radius: 15px;
    border: none;

    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #171A21;
        transition: all 0.5s ease;
    }

    &:focus {
        background-color: #214168;
        box-shadow: 0px 1px 20px #3c74b8;
        transition: all 0.3s ease;
    }

    &-primary {
        width: 20%;
        padding: 14px;
        font-size: large;
    }

    &-search {
        background-color: #181B23;
        font-size: x-large;
        padding: 7px 15px 7px 15px;
        box-shadow: -4px 4px;
    }

    &-more {
        width: 25%;
    }
}

.search-bar {
    border-radius: 50px;
    margin-right: 10px;
    width: 300px;
}

.bi-search {
    color: #2B66AF;
}

#inicioButton {
    margin-right: 15px;
}

.contenedor-videojuegos {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contenedor-videojuegos .card {
    flex-direction: row;
    background-color: #0B0B0B;
    height: 125px;
}

.card-videojuegos-titulo {
    background-color: transparent !important;
    height: 10px !important;
    transition: none !important;

    &:hover {
        transform: initial !important;
    }
}

.card-videojuegos-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card-videojuegos-body .card-text {
    font-size: medium;
}

.card {
    border: none;
    border-radius: 20px;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    &-img {
        height: 125px;
        width: 40%;
        object-fit: cover;
        
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &-reciente {
        background: none;
    }

    &:hover {
        transform: scale(1.1);
        transition: all 1s ease 0.1s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    &:focus-within {
        border: none;
        box-shadow: 0px 2px 30px #2B66AF;
        
        transition: all 0.3s ease;
    }
}

.contenedor-usuario {
    width: 90%;
    max-width: 1000px;
    margin: -25px auto;
    display: grid;
    gap: 20px;

    grid-template-areas:    "buscador buscador buscador"
                            "error error error"
                            "info info info"
                            "nombre nombre nombre"
                            "actividad actividad actividad"
                            "valor valor valor"
                            "juegos juegos juegos";
}

.usuario-contenedor > h2 {
    font-size: large;
    padding-top: 6px;
}

.usuario-contenedor {
    background-image: linear-gradient(to right, #0B0B0B, #204067);
    color: #fff;
}

.usuario-info {
    grid-area: info;
    display: flex;
    justify-content: space-between;
    color: #fff;

    &__left {
        display: flex;
        flex-direction: row;
        justify-content: left;
        background: none;

        &-avatar {
            width: 100px;
            height: 100px;

            border-color: #204067;
            border-style: solid;
            border-width: 4px;
            border-radius: 10px;
            margin: 0 20px 10px 0;
        }

        &__desc {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &-nacionalidad #bandera {
                height: 23px;
                width: 23px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }

            &-nacionalidad {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                margin-bottom: 5px;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__nivel {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 35px;
            width: 35px;
            background: none;
            padding-top: 4px;
            border-radius: 50%;
            border: 3.5px solid #138B10;
        }
    }

}

.usuario-buscador-contenedor{
    grid-area: buscador;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.error-contenedor{
    grid-area: error;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#usuario-nombre-contenedor {
    grid-area: nombre;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#usuario-actividad-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: actividad;
}

#usuario-valor-contenedor {
    grid-area: valor;
}

#usuario-juegos-contenedor {
    grid-area: juegos;
    margin-bottom: 15px;
}

.usuario-juegos-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-text {
    &-reciente {
        font-size: small;
    }
}

.form-select {
    width: 315px;
    justify-content: end;
}

.filtro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

@media screen and (max-width: 900px) {
    .contenedor-videojuegos {
        grid-template-columns: 1fr;
    }

    .main-screen__descripcion > img {
        width: 100%;
    }

    .fecha-lanzamiento {
        display: none;
    }

    #tituloVideojuegos {
        display: none;
    }

    .card-img {
        width: 25% !important;
    }
}

@media screen and (max-width:650px) {
    nav{
        flex-direction: column;
    }

    .valoraciones {
        display: none;
    }

    .form-select {
        width: 205px;
    }
}

@media screen and (max-width:600px) {
    .usuario-juegos-contenedor {
        grid-template-columns: 1fr;
    }

    .contenedor-usuario .usuario-info__right {
        display: none;
    }

    .usuario-buscador-contenedor, .error-contenedor{
        justify-content: center;
    }

    .card-img {
        width: 40% !important;
    }

    .search-bar {
        width: 220px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-videojuegos .card {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .card-img {
        width: 100% !important;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;
    }

    .main-screen__descripcion > img {
        width: 200px;
    }

    .main-screen__descripcion {
        margin: 10% 12% 0 12%;
    }

    .card-videojuegos-titulo {
        display: none !important;
    }
}