//Se cambian las variables del sass
$primary: #ffffff;
$secondary: #3d383a;
$enable-rounded: true;
$enable-gradients: true;

//Se importa bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

//Se crean o modifican las clases que se quiera del css
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
}