//Se cambian las variables del sass
$text-primary: #5FC0F4;
$enable-gradients: true;

//Se importa bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

//Se crean o modifican las clases que se quiera del css

h2 {
    font-size: x-large;
    //Aqui quiero poner el font-style del prototipo, pero hay que importarlo y eso xd
    font-weight: 350;
}

p {
    color: white;
    font-size: large;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 63px;
    width: 100%;
    background-color: #171A21;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-screen {
    height: calc(100vh - 63px);

    position: fixed;
    top: 63px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: #1B2838;
    display: flexbox;
    flex-direction: column;

    //Permitir scroll vertical
    overflow-y: auto;

    &__container {
        //Centrar el contenedor
        justify-content: center;
        align-items: center;
        top: 10%;
        padding: 0;
        margin: 0;

        position: relative;
        width: inherit;
        height: inherit;
    }

    &__botones {
        //Se crea un contenedor para los botones
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        position: relative;
    }

    &__descripcion {
        //Se crea un contenedor para la descripcion
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 10% 20% 0 20%;

        position: relative;
    }

    &__buscador {
        justify-content: center;
        align-items: center;
        padding: inherit;
        margin: inherit;

        position: relative;
    }
}

.btn {
    background-color: #214168;
    border-radius: 15px;
    border: none;

    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #171A21;
        transition: all 0.5s ease;
    }

    &-primary {
        width: 20%;
        padding: 14px;
        font-size: large;
    }

    &-search {
        background-color: #181B23;
        font-size: x-large;
        padding: 7px 15px 7px 15px;
        box-shadow: -4px 4px;
    }

    &-more {
        width: 25%;
    }
}

.search-bar {
    border-radius: 50px;
    margin-right: 10px;
    width: 20%;
}

.bi-search {
    color: #2B66AF;
}

#inicioButton {
    margin-right: 15px;
}

.contenedor-videojuegos {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.card {
    border: none;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover {
        transform: scale(1.1);
        transition: all 1s ease 0.1s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

//Implementado parcialmente (reajuste de elementos segun el ancho de la pantalla)
@media screen and (max-width: 900px) {
    .contenedor-videojuegos {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:700px) {
}

@media screen and (max-width:600px) {
}

@media screen and (max-width:650px) {
    nav{
        flex-direction: column;
    }
}